@api_app.post("/{{ target_action_underscore_name }}")
@cli_app.command()
def create_{{ target_action_underscore_name }}() -> {{ target_action_python_name }}:
    r"""Creates a {{ target_action_human_name }}.

    ```mermaid
    flowchart LR
        Processor --> Output

        Processor("LLM Processor\n___\n`langcontroller.processors.marvin.MarvinStructuredLLMOutput`")
        Output["Output Model\n___\n`app.models.{{ target_action_python_name }}`"]
    ```

    Returns:
        `app.models.{{ target_action_python_name }}`: The {{ target_action_human_name }}
    """
    logger.info("Creating {{ target_action_human_name }}...")

    model: {{ target_action_python_name }} = {{ controller_type }}StructuredLLMOutput(
        prompt_template="{{ prompt_name }}",
        output_model={{ target_action_python_name }},
    ).apply()

    logger.info("Created {{ target_action_human_name }}.")

    return model

