# -*- coding: utf-8 -*-
"""{{ project_nmae }}Feature Service Repository.

This module contains the repository of feature services for the Scaled Agile Framework project.

Feature Services:
    - wrap processors and models
    - are used to provide a clean interface to the developer

Patterns:
    - Decorator-Pattern
    - Service-Pattern
    - Command-Pattern
    - Strategy-Pattern

```mermaid
.. include:: ../docs/diagrams/dataflow.mermaid
```
"""
import typer
from fastapi import FastAPI
from rich import print
from langcontroller.controllers import *
from app.models import *

api_app = FastAPI()

cli_app = typer.Typer(rich_markup_mode="rich")

