@app.command()
def create_{{ target_action_underscore_name }}({{ source_action_underscore_name }}: str) -> {{ target_action_python_name }}:
    """Creates a {{ target_action_human_name }}"""
    print("Creating {{ target_action_human_name }}...")

    model: {{ target_action_python_name }} = {{ controller_type }}StructuredOutputController(
        prompt_template="{{ prompt_name }}",
        output_model={{ target_action_python_name }},
    ).apply(content={{ source_action_underscore_name }})

    print(model.json(indent=2))

    return model

