"""models.py

This module contains the important pydantic models of the {{ project_name }} project that
represent the structured output of the application.

"""
from pydantic import BaseModel
from dotenv import load_dotenv

load_dotenv()
from marvin import ai_model

