@ai_model
class {{ target_action_python_name }}(BaseModel):
    """{{ target_action_human_name }}."""

    {{ target_attr_1_name }}: str
    {{ target_attr_2_name }}: str
    {{ target_attr_3_name }}: str

