@asset
def {{ target_action_underscore_name }}(context: AssetExecutionContext) -> str:
    """Creates a {{ target_action_human_name }}."""
    logger = get_dagster_logger()

    my_{{ target_action_underscore_name }} = create_{{ target_action_underscore_name }}()

    context.add_output_metadata(
        metadata={
            "{{ target_action_human_name }}": my_{{ target_action_underscore_name }}.dict(),
        }
    )
    return my_{{ target_action_underscore_name }}.dict().__str__()

