@asset
def {{ target_action_underscore_name }}(
    context: AssetExecutionContext, {{ source_action_underscore_name }}: str
) -> str:
    """Creates a {{ target_action_human_name }}."""
    context.log.info("Materializing {{ target_action_human_name }}...")
    context.log.info(f"Sourcing {{ source_action_human_name }}: {% raw %}{{% endraw %}{{ source_action_underscore_name }}{% raw %}}{% endraw %}")

    my_{{ target_action_underscore_name }} = create_{{ target_action_underscore_name }}(
        {{ source_action_underscore_name }}={{ source_action_underscore_name }}
    )

    context.add_output_metadata(
        metadata={
            "{{ target_action_human_name }}": my_{{ target_action_underscore_name }}.dict(),
        }
    )
    return my_{{ target_action_underscore_name }}.dict().__str__()

