"""{{ project_name }} Dagster Pipeline Definition.

This module defines the following Dagster items:
    - Dagster Assets
    - Dagster Sensors
"""
from dagster import (
    asset,
    AssetExecutionContext,
)
from app.features import *

