"""Dagster Pipeline

This module contains the important assets of the {{ project_name }} project that
are used to build the Dagster Pipeline
"""
from dagster import (
    asset,
    get_dagster_logger,
    AssetExecutionContext,
)
from app.repository import *

